<div class="info" *ngIf="salaryInfo !== undefined">
    <p><strong>Gross Annual Salary:</strong> {{ salaryInfo.grossAnnualSalary }} </p>
    <p><strong>Gross Monthly Salary:</strong> {{ salaryInfo.grossMonthlySalary }} </p>
    <p><strong>Net Annual Salary:</strong> {{ salaryInfo.netAnnualSalary }} </p>
    <p><strong>Net Monthly Salary:</strong> {{ salaryInfo.netMonthlySalary }} </p>
    <p><strong>Annual Tax Paid:</strong> {{ salaryInfo.annualTaxPaid }} </p>
    <p><strong>Monthly Tax Paid:</strong> {{ salaryInfo.monthlyTaxPaid }} </p>
</div>
